
{% extends 'main.html' %}

{% load static %}
{% block content %}

<html>
<style>
   h3  {
       padding: 0 3em 0.1em 3em;
       font-family: "Sakkal Majalla";
       font-size: 40px ; color: #1d1919;
       background-color: #a8cac1 ;
   }
</style>
<body>
<div>
    <br>
<h3>  The aim of my blog :
    </br>Here we will discuss everything related to reading and books,
     and also present our opinions and
    the opinions of others about the best books after their experience with them</h3>
</div>
<br><br><br><br><br><br><br><br><br><br>
</body>
</html>
{% endblock %}
